-- CreateTable
CREATE TABLE "Company" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "companyName" TEXT NOT NULL,
    "logoAlignment" TEXT NOT NULL DEFAULT 'left',
    "address" TEXT,
    "authorizedPerson" TEXT,
    "authorizedDesignation" TEXT,
    "purpose" TEXT,
    "place" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "webAddress" TEXT,
    "companyLogo" TEXT,
    "stamp" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "subscriptionEnd" DATETIME,
    "subscriptionActive" BOOLEAN NOT NULL DEFAULT true
);

-- CreateTable
CREATE TABLE "Admin" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "companyId" TEXT,
    CONSTRAINT "Admin_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "applicationToken" TEXT,
    "applicationSubmitted" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "lastCopiedLink" TEXT,
    "paymentAmount" REAL DEFAULT 15000,
    "paymentStatus" TEXT DEFAULT 'Pending',
    "companyId" TEXT,
    CONSTRAINT "Lead_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Application" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "leadId" TEXT,
    "companyId" TEXT,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "fatherName" TEXT,
    "dob" TEXT,
    "gender" TEXT,
    "maritalStatus" TEXT,
    "address" TEXT,
    "aadhar" TEXT,
    "pan" TEXT,
    "panFile" TEXT,
    "aadharFile" TEXT,
    "resume" TEXT,
    "designation" TEXT,
    "department" TEXT,
    "joiningDate" TEXT,
    "relievingDate" TEXT,
    "ctc" TEXT,
    "companyName" TEXT,
    "jobType" TEXT,
    "mentorName" TEXT,
    "mentorDesignation" TEXT,
    "dateDocument" TEXT,
    "empId" TEXT,
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "bankName" TEXT,
    "accountNumber" TEXT,
    "ifsc" TEXT,
    "branchName" TEXT,
    "bankPassbook" TEXT,
    "uan" TEXT,
    "esi" TEXT,
    "pfFile" TEXT,
    "offerDate" TEXT,
    "appointmentDate" TEXT,
    "experienceDate" TEXT,
    "internshipDate" TEXT,
    "nocDate" TEXT,
    "payslipDate" TEXT,
    "hikeDate" TEXT,
    "workingDays" INTEGER,
    "referenceFile" TEXT,
    "hikeAmount" TEXT,
    "hikeIssueDate" TEXT,
    "pfStatus" TEXT,
    "remarks" TEXT,
    "basic" REAL,
    "houseRentAllowance" REAL,
    "statutoryBonus" REAL,
    "specialAllowance" REAL,
    "monthlyCtc" REAL,
    "employerEsi" REAL,
    "employerPf" REAL,
    "employeeEsi" REAL,
    "providentFund" REAL,
    "professionalTax" REAL,
    "tds" REAL,
    "grossSalary" REAL,
    "totalContribution" REAL,
    "totalDeduction" REAL,
    "netTakeHome" REAL,
    "annualCtc" REAL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Application_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Application_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "HikeLetter" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "applicationId" TEXT NOT NULL,
    "hikeAmount" REAL NOT NULL,
    "hikeDate" TEXT NOT NULL,
    "hikeIssueDate" TEXT NOT NULL,
    "previousCtc" REAL NOT NULL,
    "newCtc" REAL NOT NULL,
    "percentage" REAL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "HikeLetter_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "Application" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "applicationId" TEXT NOT NULL,
    "field" TEXT NOT NULL,
    "oldValue" TEXT,
    "newValue" TEXT,
    "modifiedBy" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AuditLog_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "Application" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "Admin_email_key" ON "Admin"("email");

